<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/App.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>All catch failed page</title>
  </head>
  <body>
    <h1>All catch failed page</h1>
</body>
</html>