/*client/css/App.css*/
.button-col {
  width:100px;
  text-align:center;
}
.desc-col {
width:300px;
text-align:left;
}
table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}
.counterCell {
text-align: center;
width:50px;
}
.button-center {
text-align: center;
}
.Modal {
 position: relative;
 top: 250px;
 left: 400px;
 right: 20px;
 bottom: 20px;
 background-color: #F5F5F5;
 width:500px;
 border: 1px solid #000;
 border-radius: 4px;
 padding: 20px;
 color: black;
 background-color:  #00cccc;
}
.Overlay {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rebeccapurple;
}
.button-center {
text-align: center;
}
label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}
fieldset{
border:none;
margin:0px auto;
}
.closebtn{
 float:right;
}

h1{
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 2px lime;
  -webkit-text-stroke: 1px grey;
}
body{
  background-color:  black;
  color: white;
}
.btn-danger{
  color: white;
  background-color: red;
    border-color: white;
    padding: 2px;
    margin: 2px;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  padding: 2px;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: white;
  margin: 0px 10px 15px 0px;
}
a {
  color: lime;
  text-decoration: none;
}

/*test*/

 table {
  border-spacing: 0.5rem;
  margin: 25px 50px 75px 100px;
  
}
td {
  padding: 0.5rem;
}

td:nth-child(1) { background: hsl(150, 50%, 50%); }
td:nth-child(2) { background: hsl(160, 60%, 50%); }
td:nth-child(3) { background: hsl(170, 70%, 50%); }
td:nth-child(4) { background: hsl(180, 80%, 50%); }
td:nth-child(5) { background: hsl(190, 90%, 50%); }
td:nth-child(6) { background: hsl(200, 99%, 50%); }

@import "compass/css3";

table {
  background-color: black;
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px grey,
     0px 10px 20px grey,
     0px 20px 20px lime,
     0px 30px 20px aqua;
  tr {
     &:hover {
      background: #f4f4f4;
      
      td {
        color: #555;
      }
    }
  }
  th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
  }
}
  .btn-success{
    background-color: lime;

  }